<h1>Listing visitors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Postcode</th>
    <th>Heard from</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @visitors.each do |visitor| %>
  <tr>
    <td><%= visitor.name %></td>
    <td><%= visitor.email %></td>
    <td><%= visitor.telephone %></td>
    <td><%= visitor.postcode %></td>
    <td><%= visitor.heard_from %></td>
    <td><%= visitor.message %></td>
    <td><%= link_to 'Show', visitor %></td>
    <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
    <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visitor', new_visitor_path %>
