
<h2>Contact Us</h2>
<p>
    Please contact us for more information and to make a quote, we would be <strong>delighted</strong> to hear from you.<br/>
    <strong>Please Note:</strong> We are <strong>not</strong> a mail order company, we make bespoke handmade furniture.
  </p>
<h3 class="prepend-2">Balmain &amp; Balmain Contact Information.</h3>

<div class='col prepend-1 span-10 append-2'>
  <div class="clear"></div>

  <%- if notice %>
  <p class="notice"><%= notice %></p>
  <%- end %>

  <%= form_for(@visitor, :url => { :action => "create" }) do |f| %>
    <%= @visitor.errors.full_messages.first if @visitor.errors.any? %>
    <span class='validate'></span>
    <br />
    <div class='span-3'>
      <%= f.label(:name, "*Name: ") %>
    </div>
    <div class='span-6 last'>
      <%= f.text_field :name %><br/>
    </div>
    <div class='clear'></div>
    <div class='span-3'>
      <%= f.label(:email, "*Email: ") %>
    </div>
    <div class='span-6 last'>
      <%= f.text_field(:email, :type => 'email') %><br/>
    </div>
    <div class='clear'></div>
    <div class='span-3'>
      <%= f.label(:telephone, "Telephone: ") %>
    </div>
    <div class='span-6 last'>
      <%= f.text_field(:telephone, :type => 'tel') %><br/>
    </div>
    <div class='clear'></div>
    <div class='span-3'>
      <%= f.label(:postcode, "Postcode: ") %>
    </div>
    <div class='span-6 last'>
      <%= f.text_field :postcode %><br/>
    </div>
    <div class='clear'></div>
  
    <div class='span-8 last'>
      <span class="small">* required fields</span>
      <br />
      <p>How did you hear about Balmain &amp; Balmain?</p>
      <%= f.radio_button :heard_from, "referral" %>
      <%= f.label("heard_from_referral", "Referral") %>
      <br />
      <%= f.radio_button :heard_from, "magazine" %>
      <%= f.label("heard_from_magazine", "Magazine Advert") %>
      <br />
      <%= f.radio_button :heard_from, "advertisement" %>
      <%= f.label("heard_from_advertisement", "Advertisement") %>
      <br />
      <%= f.radio_button :heard_from, "search" %>
      <%= f.label("heard_from_search", "Internet Search Engine") %>
      <br />
      <%= f.radio_button :heard_from, "other" %>
      <%= f.label("heard_from_other", "Other") %>
      <br />
      <br />
      <p>
        <%= f.label(:message, "Message:") %><br/>
        <%= f.text_area :message %>
      </p>
    </div>
    <div class='clear'></div>
    <div class='right prepend-7 span-2 last'>
      <%= submit_tag 'Submit', {:class=>'button'} %>
    </div>
    <div class='clear'></div>
  <% end %>
</div>

<div class='contact col span-8 last'>
  <div class="vcard">
    <p>
      <div class="adr">
        <span class="fn" style="float;left;">???</span><br/>
        <span class="organization-name">Balmain &amp; Balmain Furniture Makers</span><br/>
        <span class="locality">Charlton Horethorne</span><br/>
        <span class="region">Dorset</span><br/>
        <span class="postal-code">DT9 4NG</span><br/>
        <span class="country">UK</span><br/>
      </div>
      <div class="contact">
        <span class="tel">01963 220247</span> 
        <%= mail_to("mail@balmainandbalmain.com", "mail@balmainandbalmain.com", :encode => "hex", :class => "email", :subject => "Furniture Enquiry") %>
      </div>
      <%= link_to image_path('furniture-sherborne.png'), { :class=>'lightbox gallery', :rel=>"location", :title=>"Balmain office Sherborne" } do %>
        <%= image_tag(image_path('furniture-sherborne-t.png'), :alt=>"Balmain office Sherborne", :class=>"border", :title=>"Balmain office Sherborne") %>
      <% end %>
    </p>
    <p>
      <div class="vcard">
        <div class="adr">
          <span class="fn" style="float;left;">???</span><br/>
          <span class="organization-name">Balmain &amp; Balmain Furniture Makers</span><br/>
          <span class="street-address">Wilton</span><br/>
          <span class="locality">Marlborough</span><br/>
          <span class="region">Wiltshire</span><br/>
          <span class="postal-code">SN8 3SP</span><br/>
          <span class="country">UK</span><br/>
        </div>
        <div class="contact">
          <span class="tel">01672 870414</span> 
          <%= mail_to("mail@balmainandbalmain.com", "mail@balmainandbalmain.com", :encode => "hex", :class => "email", :subject => "Furniture Enquiry") %>
        </div>
      </div>
      <%= link_to image_path('furniture-wilton.png'), { :class=>'lightbox gallery', :rel=>"location", :title=>"Balmain office Wilton" } do %>
        <%= image_tag(image_path('furniture-wilton-t.png'), :alt=>"Balmain office Wilton", :class=>"border", :title=>"Balmain office Wilton") %>
      <% end %>
    </p>
  </div>

</div>
