<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Traditional Handmade Sofas, Chairs &amp; Armchairs - Balmain &amp; Balmain <%= page_name() %></title>
  
    <%= stylesheet_link_tag 'application', :media => "all" %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js", "application.js" -%>
  
    <%= render :partial => "shared/analytics" %>
  </head>
  
  <body>

    <div>
      <div id='page'>
        <div class='container simple_wrapper' >
          <h1 id='general-header'>Balmain &amp; Balmain<%= page_name() %></h1>
          <div class='phone_nos standard_nos'>
            Charlton Horethorne: 01963 220247<br/>
            Marlborough: 01672 870 414
          </div>

          <%= render :partial => "shared/menu" %>

          <div class='content prepend-1 span-22 last background-img'>
            <%= yield :layout %>
          </div>
          <div class='clear'></div>
          <!-- = partial('_carousel') -->
          <div class='push'></div>
        </div><!-- End: container -->
        <%= render(:partial => 'shared/footer') -%>

      </div><!-- End: page -->
    </div><!-- End: wrapper -->

  </body>
</html>
