<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<title><%= page_title(@furnishing) %></title>


    <%= stylesheet_link_tag 'screen', :media => "screen, projection" %>
    <%= stylesheet_link_tag 'print', :media => "print" %>
    <!--[if IE]>
      <%= stylesheet_link_tag 'ie', :media => "screen, projection" %>
    <![endif]-->
    <%= stylesheet_link_tag 'main', :media => "all" %>
    <%= stylesheet_link_tag 'lightbox', :media => "all" %>
    <%= stylesheet_link_tag 'jquery.jqzoom', :media => "all" %>
  	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js", "jquery.jqzoom-core-pack.js", "jquery.lightbox.js", "application.js" -%>

    <%= render :partial => "shared/analytics" %>
  </head>

  <body>
    <div id='page'>
      <div class='container' id='wrapper'>
        <h1 id='general-header'>Balmain and Balmain, traditional high quality handmade sofas, chairs and furniture.</h1>
        <div class='phone_nos standard_nos'>
          Charlton Horethorne: 01963 220247<br/>
          Marlborough: 01672 870 414
        </div>
        <%= render :partial => "shared/menu" %>


        <div class='content prepend-1 span-22 last'>
          <%= yield :layout %>
        </div>
        <div class='clear'></div>
        <div class='push'></div>
      </div><!-- End: container -->

      <%= render(:partial => 'shared/footer') -%>

    </div><!-- End: page -->
  </body>
</html>
